.bodyStyles {
    font-family: "Arial", sans-serif;
    background-color: #333;
    color: #fff;
  }

  h1 {
    color: #8f8065;
    font-weight: 600;
    font-size: 20px;
  }
  
  p {
    color: white;
  }
  
  input:focus {
    outline: none;
  }
  
  #goll-tick {
    background-image: url("../public/Ellipse\ 4.svg");
    background-position: center;
    background-size: 25px;
    background-repeat: no-repeat;
  }
  #table,
  #td,
  #th {
    border: 2px solid #99999957;
    border-collapse: collapse;
    /* border-radius: 10px; */
  }
  #table {
    border-radius: 10px;
  }
  
  
  