h2 {
  font-weight: 500 !important;
  font-size: 18px !important;
}

.sub-nav-list {
  width: fit-content;
}

.sub-nav-bl {
  transition: all 1s ease-in-out;
  height: 2px;
  width: 20%;
  bottom: 0;
}

.sub-nav-list>li {
  cursor: pointer;
}