@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
}

input,
button,
input:active,
button:active {
  border-color: transparent !important;
  outline: none !important;
  border: none !important;
}

/* 
.modal {
  display: flex; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: white;
}
*/

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  margin: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus {
  outline: none;
}

#goll-tick {
  background-image: url("./Ellipse 4.svg");
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
}

#table,
#td,
#th {
  border: 2px solid #99999957;
  border-collapse: collapse;
  /* border-radius: 10px; */
}

#table {
  border-radius: 10px;
}
